<h2>Main Page</h2>
<% @posts.each do |post| %>
  <a href="/posts/show/<%= post.id %>"><%= post.title %></a><br>
  <%= post.content %> |
  <%= post.user.email %> |
  <%= time_ago_in_words(post.created_at)%>


  <br>
<% end %>

<div>
  <%=link_to 'New Post', '/posts/new', :method => :post%>
</div>
